<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Welcome to CatBook </h1>
    <a href="/cuddles"><img src="images/cat1.jpg" alt="cat"></a>
    <a href="/fluffy"> <img src="images/cat2.jpg" alt="cat"></a>
    <a href="/smokey"><img src="images/cat3.jpg" alt="cat"></a>
    
</body>
</html>